<div class="row">
  <div class="col-sm-4">
    <div class="card text-white bg-dark border-light">
      <div class="card-body">
        <h5 class="card-title">Video 1</h5>
        <p class="card-text">To generate and push notifications to Marvel Stadium app, click on Push Notification</p>
        <a href="https://www.youtube.com/watch?v=rwAmnH6BGn4" class="btn btn-primary">Video Link</a>
        <a [routerLink]="" (click)="click1()" class="btn btn-primary">Push Notification</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-white bg-dark border-light">
      <div class="card-body">
        <h5 class="card-title">Video 2</h5>
        <p class="card-text">To generate and push notifications to Marvel Stadium app, click on Push Notification</p>
        <a href="../../content/videos/final_6194b473ef4530007797bef1_193514.mp4" class="btn btn-primary">Video Link</a>
        <a [routerLink]="" (click)="click1()" class="btn btn-primary">Push Notification</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-white bg-dark border-light">
      <div class="card-body">
        <h5 class="card-title">Video 3</h5>
        <p class="card-text">To generate and push notifications to Marvel Stadium app, click on Push Notification</p>
        <a href="#" class="btn btn-primary">Video Link</a>
        <a href="#" class="btn btn-primary">Push Notification</a>
      </div>
    </div>
  </div>
</div>

<br /><br />

<div class="row">
  <div class="col-sm-4">
    <div class="card text-white bg-dark border-light">
      <div class="card-body">
        <h5 class="card-title">Video 4</h5>
        <p class="card-text">To generate and push notifications to Marvel Stadium app, click on Push Notification</p>
        <a href="#" class="btn btn-primary">Video Link</a>
        <a href="#" class="btn btn-primary">Push Notification</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-white bg-dark border-light">
      <div class="card-body">
        <h5 class="card-title">Video 5</h5>
        <p class="card-text">To generate and push notifications to Marvel Stadium app, click on Push Notification</p>
        <a href="#" class="btn btn-primary">Video Link</a>
        <a href="#" class="btn btn-primary">Push Notification</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-white bg-dark border-light">
      <div class="card-body">
        <h5 class="card-title">Video 6</h5>
        <p class="card-text">To generate and push notifications to Marvel Stadium app, click on Push Notification</p>
        <a href="#" class="btn btn-primary">Video Link</a>
        <a href="#" class="btn btn-primary">Push Notification</a>
      </div>
    </div>
  </div>
</div>

<br /><br />

<div class="row">
  <div class="col-sm-4">
    <div class="card text-white bg-dark border-light">
      <div class="card-body">
        <h5 class="card-title">Video 7</h5>
        <p class="card-text">To generate and push notifications to Marvel Stadium app, click on Push Notification</p>
        <a href="#" class="btn btn-primary">Video Link</a>
        <a href="#" class="btn btn-primary">Push Notification</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-white bg-dark border-light">
      <div class="card-body">
        <h5 class="card-title">Video 8</h5>
        <p class="card-text">To generate and push notifications to Marvel Stadium app, click on Push Notification</p>
        <a href="#" class="btn btn-primary">Video Link</a>
        <a href="#" class="btn btn-primary">Push Notification</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-white bg-dark border-light">
      <div class="card-body">
        <h5 class="card-title">Video 9</h5>
        <p class="card-text">To generate and push notifications to Marvel Stadium app, click on Push Notification</p>
        <a href="#" class="btn btn-primary">Video Link</a>
        <a href="#" class="btn btn-primary">Push Notification</a>
      </div>
    </div>
  </div>
</div>

<br /><br />
